@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');



:root {
    --primary: #EEEEEE;
    --secondary: #DC5F00;
    --dark: #373A40;
    --shadow: #686D76;
    --leaf: #4CAF50;
    --tittle: #040a23;
    --darkbtn: var(--primary);
}
:root:has(#darkThemeToggle:checked) {
    --primary: #040a23; 
    --secondary: #22d3ee; 
    --dark: #CCCCCC; 
    --shadow: #3A3F47; 
    --leaf: #6BBF59; 
    --tittle: var(--secondary);
    --darkbtn: var(--dark);
    --darkBtn: var(--primary);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}

body{
    background-color: var(--primary);
    
}

html {
    scroll-padding-top: 6rem;
    /* height of sticky header */
}


@keyframes web-animation {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding: .6rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    background-color: var(--primary);
    /* box-shadow: 0 8px 4px rgba(224, 221, 221, 0.452); */
}


.logo img {
    background-color: #fa848400;
    padding-top: 1rem;
    height: 5rem;
}

@media (max-width: 768px) {
    .logo img {
        height: 4rem;
    }
}


.items {
    display: flex;
    gap: 20px;
    border: 1px solid var(--dark);
    border-radius: 25px;
    padding: .3rem;
    align-items: center;
}

.items a {
    font-size: medium;
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    margin: 0 1rem;
}

.items a:hover,
.items a.active {
    color: var(--secondary);
}

.items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cr{
    color: var(--darkbtn)
}
#cr2{
    color: var(--darkBtn);
}


#search-box {
    color: #333333; 
    font-size: 1rem; 
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 2.8rem; 
    background-color: transparent; 
    border: 1px solid #333333; 
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, border-color 0.3s ease;

}
.search-icon {
    position: relative;
    top: .2rem;
    left: 4rem;
    color: var(--dark); 
    font-size: 1.9rem;
    pointer-events: none;


}

.search-icon2 {
    position: relative;
    top: .5rem;
    left: 3rem;
    color: var(--dark); 
    font-size: 1.9rem;
    pointer-events: none;


}



#search-box:focus {
    outline: none; 
    border-color: #007BFF; 
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.25); 
}
#search-box:hover{
   color: var(--dark);
}


.profile {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary);

}


.blur {
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.25); 
    z-index: -100;
}

.hamburger {
    display: none;
    font-size: 2.8rem;
    cursor: pointer;
    color: var(--secondary);

}

.menu-toggle {
    display: none;
}


/* Mobile view */
@media (max-width: 768px) {
    .profile {
        display: none;
    }
    #search-box{
        margin-top: -2rem;
    }
    .search-icon{
        display: none;
        top: 1.6rem;
        left: .8rem;
    }
    .search-icon2{
        display: none;
        top: 2.1rem;
    left: 1rem;
    }
    .items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        border: none;
        align-items: stretch;
        padding-bottom: 3rem;

    }

    .items a {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dotted #575757;
        border-radius: 10px;
    }

    .hamburger {
        display: block;
    }

    .menu-toggle:checked+.hamburger+.items {
        display: flex;
    }

    .menu-toggle + label:after{
        content: '☰';
    }

    .menu-toggle:checked + label:after {
        content: 'X';
        font-size: 2rem;
        font-weight: 500;
        margin-right: .1rem;
      }
}

/* Section styling for demonstration */
section {
    padding: 60px 20px;
    z-index: 10;
}

.home-section {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tagline {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary);
}

.info p {
    font-size: 1rem;
    font-style: italic;
    color: var(--dark);
    padding: 1rem .5rem;
}

.play-icon {
    padding: .5rem;
    font-weight: 600;
    font-size: larger;
    margin: 1rem 1rem;
    border: 1px solid var(--leaf);
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 4rem;
}

.play-icon a{
    color: var(--dark);
    text-decoration: none;
}

.play-icon:hover,
.play-icon:active {
    border: 2px solid var(--secondary);
}

/* Animate SVG icon */
       
.animation svg{
    width: 401px;
    height: 384px;
    padding: 1rem;
    margin-left: 1rem;
}
@media (max-width:784px){
    .animation svg{
    width: 350px;
    height: 350px;
    padding: 1rem;
    margin-left: 1rem;
}
}

@keyframes vibrate {
        0%, 100% {
            transform: translate(0, 0);
        }
        20% {
            transform: translate(-2px, -2px);
        }
        40% {
            transform: translate(2px, -2px);
        }
        60% {
            transform: translate(-2px, 2px);
        }
        80% {
            transform: translate(2px, 2px);
        }
    }

    #tone-t{
        animation: vibrate 2s linear infinite;
    }
    #tone-b{
        animation: vibrate 3s linear infinite;
    }
    #upper-tone{
        animation: vibrate 6s linear infinite;
    }
    #tone-3{
        animation: vibrate 4s linear infinite;
    }
    #tone2{
        animation: vibrate 5s linear infinite;
    }
    


@media (max-width: 768px) {
    .home-section {
        display: flex;
        flex-wrap: wrap;
    }

    .tagline {
        font-size: 2rem;
    }

    .description {
        display: none;
    }

}

/* Trending Section */

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -.8rem;
    row-gap: 2rem;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background: var(--primary);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 1rem;
    margin-left: .5rem;
    width: min-content;
    max-width: 325px;
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    animation: web-animation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.card:hover {
    border: 2px solid rgba(128, 128, 128, 0.26);
}

.card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.card-image {
    width: 18rem;
    border-radius: 1rem;
}

.card-title {
    color: rgb(241, 139, 14);
    font-size: 24px;
    margin: 15px 1px;
}

.card-description {
    color: var(--dark);
    font-size: 16px;
    margin: 0 0 20px;
    text-align: justify;
    font-style: italic;
}
.card-duration {
    color: var(--dark);
    font-weight: bold;
    position: relative;
    bottom: 0;
}

#line{
    border-bottom: 1px dotted #888888; width: 100%; margin: .5rem; margin-top: -1.2rem;
}

.card-songs {
    position: relative;
    left: 14rem;
    top: -.5rem;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark);
    padding: 1px;
    border-radius: 5px;
    padding-left: 10px;
    
}

.watch-now-btn {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e67e22;
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.card:hover .watch-now-btn {
    opacity: 1;
}

.follow-container {
    position: absolute;
    bottom: .2rem;
    right: 0;
}

.follow-checkbox {
    display: none;
}

.follow-button {
    background-color: #008CBA;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 5px;
}

.follow-checkbox:not(:checked) + .follow-button::before {
    content: "➕";
    margin-right: 4px;
}

.follow-checkbox:not(:checked) + .follow-button::after {
    content: "Add to Watchlist";
}

.follow-checkbox:checked + .follow-button {
    background-color: #4CAF50;
}

.follow-checkbox:checked + .follow-button::before {
    content: "✅";
    margin-right: 4px;
}

.follow-checkbox:checked + .follow-button::after {
    content: "In Watchlist";
}


/* ===  Tittle === */

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}


.tittle h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--tittle);
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.tittle h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.tittle h1 span:after,
.tittle h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: var(--primary);
}

@media (max-width: 768px) {
    .tittle h1 {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        color: var(--tittle);
        letter-spacing: .5px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
    }

    .tittle h1 span {
        margin-top: 5px;
        font-size: 12px;
        color: #444;
        word-spacing: .5px;
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-weight: 500;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }

    .tittle h1 span:after,
    .tittle h1 span:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        height: 5px;
        background-color: #f8f8f8;
    }
}


/* Popular Sec */
.card-genre {
    font-size: 13px;
    color: #777;
    margin-bottom: .5rem;
    font-weight: 500;
}

.learn-more-btn {
    background-color: #ff9800;
    color: #fff;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: #e68a00;
}

/* Modal Toggle Hide */
.modal-toggle {
    display: none;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.modal-toggle:checked + .modal {
    opacity: 1;
    pointer-events: auto;
}

/* Modal Box */
.modal-content {
    position: relative;
    background: #fff;
    max-width: 500px;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    text-align: left;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.watch-now {
    display: inline-block;
    margin-top: 1rem;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.watch-now:hover {
    background-color: #45a049;
}

/* Reviews Section */
.review-section{
    margin-left: -.5rem;
    display: flex;
    justify-content: space-between;
}
.review-form{
    margin-left: -1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.inputs{
    margin-bottom: 1rem;
}
/* Review Section Styles */
.review-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px){
    .review-section {
        width: 350px;
        
    }
}



.reviews {
    max-height: 80vh;
    max-width: 600px;
    margin: 5rem 0rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-arrow-color: #007BFF;
    scrollbar-color: var(--primary);
    animation: web-animation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}
.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1rem;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.review-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: 2px solid #f39c12; /* example accent color */
}

.reviews::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(238, 212, 212); 
    border-radius: 10px;
  }

  .reviews::-webkit-scrollbar {
    width: 10px;
  }

  
  .reviews::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  .reviews::-webkit-scrollbar-thumb {
    background: var(--shadow); 
    border-radius: 10px;
  }
  
  
  .reviews::-webkit-scrollbar-thumb:hover {
    background: var(--secondary); 
  }


.review-card {
    color: var(--dark);
    background-color: var(--primary);
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Form Styles */
@keyframes form-animation {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.review-form {
    max-width: 600px;
    background-color: var(--primary);
    padding: 1.5rem;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    animation: form-animation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.review-form .inputs {
    margin-bottom: 1rem;
}

.review-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--tittle);
}


.review-form input[type="text"],
.review-form input[type="email"],
.review-form textarea {
    background: transparent;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--dark);
    box-sizing: border-box;
}

.review-form button{
   padding: .6rem 1.5rem .6rem 1.5rem;
}


/* Footer Code */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-title {
    color: var(--tittle);
    font-size: 16px;
    margin: 1px 1px;
    padding: 2px;
    font-weight: 600;
}

@media (max-width:768px){
 .footer{
    display: flex;
    flex-direction: column;
 }
 .footer-list{
    margin-top: 1rem;
 }
 
 
}
.footer-list ol{
    margin: .5rem;
    list-style: disc;

}

.footer-list li{
    color: var(--dark);
    margin-left: 1.1rem;
    padding: .2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.footer-list li a{
    text-decoration: none;
    color: var(--dark);
}

.footer-list li:hover{
    padding-bottom: 0px;
    border-bottom: 1px solid var(--secondary);
}


.footer .about p{
    padding: 1rem 0rem;
    color: var(--dark);
    max-width: 25rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5rem;
}
.footer .about img{
    width: 10rem;
}

.socila-icon a{
    text-decoration: none;
    color: var(--tittle);
    padding: .5rem;
    font-size: 1.5rem;
}
#bTt-btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: var(--tittle);
    border: 1px solid var(--secondary);
    padding: 0.5rem;
    border-radius: 50px;
}
#bTt-btn a i{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
}

#bTt-btn:hover{
    background-color: var(--secondary);
    color: var(--primary);
}



.copywirght{
    color: var(--dark);
    margin-top: 5rem;
    margin-bottom: -2rem;
}
